body{
    font-family: 'Poppins',sans-serif;
}
h1{
    font-size: 50px ;
    font-family: 'Playpen Sans', cursive;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-top: 5%;
    margin-left:5% ;
}  
.half-width-pp{
    width: 50%;
    float: left;
    margin-top: 5%;
    margin-right:5% ;

}
.half-width-pp img{
width: 100%;
}